
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>About Us</h2>
<div class="nv-content-wrap entry-content">
    <p>Thank you for visiting us! </p>



    <p>Here at Doggy Pet Shop, we share your passion for dogs and have curated a selection of excellent products we think you will love. We aim to be the most trusted and convenient online pet shop for dog products and dog lover gifts. </p>



    <p>
        Our success is measured by the happiness of dogs, dog parents and lovers
        we serve, not simply by the number of dog products we deliver. That’s why we
        continue to think outside-the-box to delight, surprise, and thank our dog
        lovers and parents. Doggy Pet Shop is not just a dog products store; it is a
        labor of love for all things dog.
    </p>



    <p>
        Our aim is for dogs and their owners to be 100% satisfied with our
        products, that is why we stock quality and proven products to make life easier
        and more enjoyable.
    </p>



    <p>
        In addition to providing quality products, we have excellent customer
        service. As dog owners ourselves, we know it can be daunting buying dog
        products online which is why we offer a 100% money back guarantee if you are
        not completely satisfied.
    </p>



    <p>
        With hundreds of different dog products, you’re sure to find something
        special for yourself and that dog-loving friend.
    </p>



    <p><strong>OUR VISION</strong></p>



    <p>
        To make shopping for quality and adorable dog products easy, convenient
        and fast. We aim to have the best collection of dog related gifts, so you are
        sure to find something special for that dog lover in your life.
    </p>



    <p><strong>OUR MISSION</strong></p>



    <p>
        To provide an excellent collection of quality dog related products for
        your own pet or for those you know who love dogs.
    </p>



    <p><strong>OUR PROMISE</strong></p>



    <p>
        We promise to provide a carefully sourced range of products for you and
        your dog and always at amazing prices. We are always available to answer
        questions in order to help you find the perfect items for yourself and your
        loved ones. We provide a 100% money back guarantee on every order.
    </p>



    <p><strong>OUR AIM</strong></p>



    <p>
        Doggy Pet Shop aims to offer the best dog lover gifts and dog related
        products out there at an affordable price.
    </p>



    <p>
        <strong>
            WHAT WE
            DO&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </strong>
    </p>



    <p>
        We source the best dog related products including quality gifts for dog
        lovers so you can find them all in one place. We provide a money back guarantee
        so you can shop with us with peace of mind. We adhere strictly to our brand
        values and customer satisfaction is our top priority.
    </p>



    <p><strong>OUR CULTURE</strong></p>



    <p>
        At Doggy Pet Shop, we strive to deliver the best products with the best
        service. Happy customers are always our #1 priority, and we are passionate
        about finding new ways to wow dogs and dog lovers.
    </p>



    <p><strong>WHY CHOOSE DOGGY PETSHOP?</strong></p>



    <ul>
        <li>
            <strong>
                Our Extensive Collection of Unique
                Products
            </strong>
        </li>
    </ul>



    <p>
        There are lots of quality products to choose from at Doggy Pet Shop, we
        offer one of the biggest assortments of quality products for dog lovers.
    </p>



    <ul><li><strong>Our Trusted and Reliable Brands</strong></li></ul>



    <p>
        Giving you the best service is our utmost priority. Your happiness is
        our top priority for each product we deliver. If you and your dog are happy,
        then we’re happy.
    </p>



    <p><strong>OUR CORE VALUES</strong></p>



    <ul><li>Dedication</li><li>Integrity</li><li>Commitment</li><li>Honesty</li><li>Service</li><li>Reliability</li><li>Trustworthiness</li></ul>



    <p><strong>FEEDBACK&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong></p>



    <p>
        If you enjoy browsing and/or purchasing from us, we would love for you to
        send us feedback. If you have spotted something is wrong or would like to
        resolve an issue, we would also love to hear from you.
    </p>



    <p>You can email us at <a href="mailto:info@animalfood.com">info@animalfood.com</a>.&nbsp; </p>



    <p><strong>CONTACT US</strong></p>



    <p>
        You can contact us via email at info@animalfood.com and we will
        endeavour to get back to as soon as possible.
    </p>
</div>
