
@{
    ViewData["Title"] = "Our";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h5>
        Overweight Orders:

        The maximum weight for any parcel we can dispatch is 31kg. Orders weighing over 31kg will be dispatched in 2 or more parcels (depending on weight). Based on the value and weight of your order, a service charge of €3.99 EUR per additional parcel will be applied to cover additional costs. zooplus delivers from a minimum order value of €19 (excluding shipping charges). We do not have a maximum order value, but our products are only available in regular quantities for household use. The fee will be visible before checkout.

        Occasionally the actual weight (gross weight) of a product can differ slightly from its nominal weight due to packaging or because manufacturers have slightly higher filling weights. We use the gross weight of the product for order weight calculation. ill also be visible before checkout.


        Delivery Times:

        Most orders are processed and dispatched within 24 hours and our delivery service partners provide online parcel tracking facilities (normally available within 1 working day from dispatch). You can also track your order via your 'my zooplus' page.


        Delivery to ROI addresses usually takes place within the specified number of working days below. This may vary depending on availability, payment method, location and other factors beyond our control. For bank holidays, please allow an extra day.



        Ordered on	85% of our parcels
        are delivered between	Earliest Delivery Date
        (when ordered before 4pm)
        Monday	3-5 days	Thursday the same week
        Tuesday	3-4 days	Friday the same week
        Wednesday	3-4 days	Monday the following week
        Thursday	2-4 days	Monday the following week
        Friday	2-4 days	Tuesday the following week
        Saturday	4-5 days	Thursday the following week
        Sunday	4-5 days	Thursday the following week

        Bulky goods:

        Bulky items are subject to special shipping terms and customers are advised that these items may take longer to arrive than the estimated delivery times above and may arrive separately. These goods are only dispatched with special delivery service providers and are therefore not available in all countries. This information is included in the product description. We apologise for any inconvenience.


        International Shipping Costs:

        zooplus offer International Shipping to the Countries listed in the table below the basic shipping costs calculator at the stated delivery rates. We are unable to ship to military addresses.
    </h5>

