@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>





<main class="row pos-relative">

    <aside class="lhs__navigation col-xs-3 hidden-xs" data-zta="lhsNavigation">
        <div class="lhs-nav-wrap">


            <div class="pos-relative">





























































            </div>



            <div class="hidden-xs">




                <!-- Zone-Region: LEFT_MIDDLE -->
                <!-- xxzone.ftl -->
                <div class="zone">
                    <script type="text/javascript">
                <!--// <![CDATA[
                /* [id120] */
                if (typeof OA_show == 'function') {
                    OA_show(120);
                }
                // ]]> -->
                    </script>
                </div>
                <noscript>
                    <div class="zone">
                        <a target='_blank' href='https://pictures.zooplus.com/zoodog?n=123edsfg'>
                            <img alt='' src='https://pictures.zooplus.com/zoopuppy?zoneid=120&amp;n=123edsfg&amp;siteid=2' />
                        </a>
                    </div>
                </noscript>
                <div class="zone">
                    <script type="text/javascript">
                <!--// <![CDATA[
                /* [id121] */
                if (typeof OA_show == 'function') {
                    OA_show(121);
                }
                // ]]> -->
                    </script>
                </div>
                <noscript>
                    <div class="zone">
                        <a target='_blank' href='https://pictures.zooplus.com/zoodog?n=1eay7535'>
                            <img alt='' src='https://pictures.zooplus.com/zoopuppy?zoneid=121&amp;n=1eay7535&amp;siteid=2' />
                        </a>
                    </div>
                </noscript>
                <div class="zone">
                    <script type="text/javascript">
                <!--// <![CDATA[
                /* [id122] */
                if (typeof OA_show == 'function') {
                    OA_show(122);
                }
                // ]]> -->
                    </script>
                </div>
                <noscript>
                    <div class="zone">
                        <a target='_blank' href='https://pictures.zooplus.com/zoodog?n=1eay7536'>
                            <img alt='' src='https://pictures.zooplus.com/zoopuppy?zoneid=122&amp;n=1eay7536&amp;siteid=2' />
                        </a>
                    </div>
                </noscript>
                <div class="zone">
                    <script type="text/javascript">
                <!--// <![CDATA[
                /* [id123] */
                if (typeof OA_show == 'function') {
                    OA_show(123);
                }
                // ]]> -->
                    </script>
                </div>
                <noscript>
                    <div class="zone">
                        <a target='_blank' href='https://pictures.zooplus.com/zoodog?n=4af43015'>
                            <img alt='' src='https://pictures.zooplus.com/zoopuppy?zoneid=123&amp;n=4af43015&amp;siteid=2' />
                        </a>
                    </div>
                </noscript>


            </div>
        </div>
    </aside>


    <section class="rhs list__page col-lg-9">

        <!-- /shop/common/content.jsp #Nav:  -->

        <h1 class="h2">Data Privacy One-Pager</h1>


        <p class="header-print hide-for-print text-right">
            <a href="javascript:void(0)" onclick="downloadShortLink('privacy')" class="downloadPDF"><span>PDF download</span></a> |
            <a href="javascript:window.print();" class="print"><span>Print</span></a>
        </p>


        <section>
            <p>Dear animalfood customers and visitors to our website,</p>

            <p>We value your trust, so protecting your data and respecting your right to privacy and informational autonomy in the collection, processing and use of your personal data is very important to us. The following information is intended to provide you with a quick and easy overview of the information we collect and process about you in connection with your use of our website. A detailed description can be found in our <a href="//www.zooplus.ie/content/privacy_long">Privacy Statement</a>. Further information about your right to object can be found in our <a href="//www.zooplus.ie/content/opt-out">Information on the Right to Object to the Processing of Data</a>.</p>

            <p>AnimalFood, Sonnenstrasse 15, D-80331 Munich, represented by the members of the Management Board&nbsp; Dr. Cornelius Patt, Andreas Maueröder, Dr. Mischa Ritter and Florian Welz is responsible for the data protection on this website. You can contact us by email <a href="mailto:service@animalfood.com">service@animalfood.com</a>. You can also get in touch with our Data Protection Officer Mr Philipp Herrmann, HWData GmbH, Leonrodstrasse 54, D-80636 Munich, email: <a href="mailto:ph@hwdata.de">ph@hwdata.de</a>.</p>

            <h2>Which of your personal data do we process?&nbsp;</h2>

            <table align="left" border="1" bordercolor="#ccc" cellpadding="5" cellspacing="0">
                <tbody>
                </tbody>
                <thead>
                    <tr>
                        <th scope="row" style="text-align: left; vertical-align: top; border-color: gray; background-color: rgb(211, 211, 211);">
                            <p><strong>What areas are affected?</strong></p>
                        </th>
                        <td style="text-align: left; vertical-align: top; border-color: gray; background-color: rgb(211, 211, 211);">
                            <p><strong>What data will be processed?&nbsp;</strong></p>
                        </td>
                        <td style="text-align: left; vertical-align: top; border-color: gray; background-color: rgb(211, 211, 211);">
                            <p><strong>What is the purpose of processing the data?</strong></p>

                            <p>&nbsp;</p>
                        </td>
                        <td style="text-align: left; vertical-align: top; border-color: gray; background-color: rgb(211, 211, 211);">
                            <p><strong>Legal basis</strong></p>
                        </td>
                        <td style="text-align: left; vertical-align: top; border-color: gray; background-color: rgb(211, 211, 211);">
                            <p><strong>Does an obligation to provide this information exist?</strong></p>
                        </td>
                        <td style="text-align: left; vertical-align: top; border-color: gray; background-color: rgb(211, 211, 211);">
                            <p><strong>Is profiling taking place?</strong></p>
                        </td>
                        <td style="text-align: left; vertical-align: top; border-color: gray; background-color: rgb(211, 211, 211);">
                            <p><strong>When will these data be deleted?</strong></p>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row" style="text-align: left; vertical-align: top; border-color: gray;">
                            <p>Visits to our websites</p>
                        </th>
                        <td style="text-align: left; vertical-align: top; border-color: gray;">
                            <p>IP address, cookie identifier (cookies), order ID (advertising)</p>
                        </td>
                        <td style="text-align: left; vertical-align: top; border-color: gray;">
                            <p>Generation of log files&nbsp;</p>

                            <p>Using log files, we are able to ensure a connection to our website and simplify the use of the web page, e.g., by pre-selecting the right language and currency. We carry out analysis to evaluate system security and stability as well as for administrative purposes.</p>

                            <p>Web analytics</p>

                            <p>We use analytic and tracking tools for evaluating user behavior; this allows us to customize our website to the interests of the visitors; the statistical analysis of the user profiles gives us an indication of the functionality and success of our web pages (e.g., how many visitors have clicked on a specific offer on our homepage).&nbsp;</p>

                            <p>Advertising</p>

                            <p>With the help of so-called "ad tracking tools", we as well as third parties can analyze the behavior of individual users anonymously across different websites, detect their interests and, based on this information, display customized advertisements. For example, customers who are looking for cat food would be shown corresponding product recommendations.</p>

                            <p>Via so-called affiliate networks we advertise our products on third party websites. By clicking on these advertisements, you will be directed to the corresponding product in our web shop. The respective third-party provider receives the order ID only for billing the commission, if the visitor did purchase.</p>

                            <p>Social media plugins</p>

                            <p>In the journal pages of our website, you will have the opportunity to share information with social network providers. To offer this, we use "shariff wrapper" technology, which does not transfer any data without your consent (automated).</p>

                            <p>For details about the cookies used on the website, the specific purpose for processing, as well as a description of how you can disable tracking and advertising cookies, please refer to our&nbsp;<a href="//www.zooplus.ie/content/opt-out">Information on the Right to Object to the Processing of Data</a>.</p>
                        </td>
                        <td style="text-align: left; vertical-align: top; border-color: gray;">
                            <p>Article 6 (1f) GDPR</p>
                        </td>
                        <td style="text-align: left; vertical-align: top; border-color: gray;">
                            <p>No</p>

                            <p>However, some areas of the website are not usable or only partially usable without the processing of data. For example, your shopping cart is saved using cookies.</p>
                        </td>
                        <td style="text-align: left; vertical-align: top; border-color: gray;">
                            <p>Yes¹</p>

                            <p>&nbsp;</p>
                        </td>
                        <td style="text-align: left; vertical-align: top; border-color: gray;">
                            <p>For details about the duration of the storage of cookies, as well as a description of how you can delete the cookies ahead of time and object to the processing of data, please refer to the&nbsp;<a href="//www.zooplus.ie/content/opt-out">Information on the Right to Object to the Processing of Data</a>.</p>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row" style="text-align: left; vertical-align: top; border-color: gray;">
                            <p>Webshop</p>
                        </th>
                        <td style="text-align: left; vertical-align: top; border-color: gray;">
                            <p>Email address, title, first name and last name, shipping address, billing address, payment data (no credit card data!), login data for registered customers; customer number, order number (for registered customers), IP address, cookie identifier</p>
                        </td>
                        <td style="text-align: left; vertical-align: top; border-color: gray;">
                            <p>Orders</p>

                            <p>We use your personal data to process your order and prepare it for shipping. If you have a customer account, we will require your login data (email address and password) to verify your account.</p>

                            <p>Product recommendations</p>

                            <p>To display products personalized to you, we process anonymized data during your search for products on our website.</p>
                        </td>
                        <td style="text-align: left; vertical-align: top; border-color: gray;">
                            <p>Article 6 (1a, b, f) GDPR</p>

                            <p>&nbsp;</p>
                        </td>
                        <td style="text-align: left; vertical-align: top; border-color: gray;">
                            <p>Yes (contractual)</p>

                            <p>We cannot handle and ship your order without the processing of your data.</p>

                            <p>We do not require the provision of data for the analysis of your user behavior in the context of a webshop search.</p>
                        </td>
                        <td style="text-align: left; vertical-align: top; border-color: gray;">
                            <p>Yes¹</p>

                            <p>&nbsp;</p>
                        </td>
                        <td style="text-align: left; vertical-align: top; border-color: gray;">
                            <p>Data is deleted/stored in accordance with commercial and tax requirements, during the existence of the user account, or until we are requested to delete the data.</p>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row" style="text-align: left; vertical-align: top; border-color: gray;">
                            <p>My zooplus</p>
                        </th>
                        <td style="text-align: left; vertical-align: top; border-color: gray;">
                            <p>Email address, customer number, first and last name, shipping address, billing address, login data, order history</p>
                        </td>
                        <td style="text-align: left; vertical-align: top; border-color: gray;">
                            <p>Customer accounts</p>

                            <p>We use your personal data in order to provide you with a customer account. As a registered customer, you can manage your contact data, specify delivery, payment and newsletter preferences, view your order history and access to your bonus points account.&nbsp;</p>

                            <p>Facebook Connect</p>

                            <p>If you log in to our webshop using your Facebook login information, a connection will be established between your Facebook profile and our website over which the data can be transferred.</p>
                        </td>
                        <td style="text-align: left; vertical-align: top; border-color: gray;">
                            <p>Article 6 (1a) GDPR</p>

                            <p>&nbsp;</p>
                        </td>
                        <td style="text-align: left; vertical-align: top; border-color: gray;">
                            <p>No</p>

                            <p>The use of a customer account is not possible without the processing of your data.</p>

                            <p>&nbsp;</p>

                            <p>The use of social media plugins is voluntary and not required for the use of the customer account.</p>
                        </td>
                        <td style="text-align: left; vertical-align: top; border-color: gray;">
                            <p>Yes¹</p>
                        </td>
                        <td style="text-align: left; vertical-align: top; border-color: gray;">
                            <p>Until the deletion of your account, or as soon as we are requested to delete the data.</p>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row" style="text-align: left; vertical-align: top; border-color: gray;">
                            <p>Newsletter</p>
                        </th>
                        <td style="text-align: left; vertical-align: top; border-color: gray;">
                            <p>Email address, title, first name and last name, order history</p>
                        </td>
                        <td style="text-align: left; vertical-align: top; border-color: gray;">
                            <p>News and special offers</p>

                            <p>We send you current information about products, services, promotions and offers via our newsletter.</p>
                        </td>
                        <td style="text-align: left; vertical-align: top; border-color: gray;">
                            <p>Article 6 (1a, f) GDPR</p>
                        </td>
                        <td style="text-align: left; vertical-align: top; border-color: gray;">
                            <p>Otherwise, the delivery of the newsletter and the personalized approach is not possible.</p>
                        </td>
                        <td style="text-align: left; vertical-align: top; border-color: gray;">
                            <p>Yes¹</p>
                        </td>
                        <td style="text-align: left; vertical-align: top; border-color: gray;">
                            <p>When you unsubscribe from the newsletter, or as soon as we are requested to delete the data.</p>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row" style="text-align: left; vertical-align: top; border-color: gray;">
                            <p>Reminder</p>
                        </th>
                        <td style="text-align: left; vertical-align: top; border-color: gray;">
                            <p>Email address</p>
                        </td>
                        <td style="text-align: left; vertical-align: top; border-color: gray;">
                            <p>Product availability</p>

                            <p>You have the option to register via email for a reminder regarding the availability of specific products. At your request, we can send you a one-time notification when the desired product is available again in our assortment.</p>
                        </td>
                        <td style="text-align: left; vertical-align: top; border-color: gray;">
                            <p>Article 6 (1a) GDPR</p>

                            <p>&nbsp;</p>
                        </td>
                        <td style="text-align: left; vertical-align: top; border-color: gray;">
                            <p>Otherwise, we cannot provide you with information about the desired product.</p>
                        </td>
                        <td style="text-align: left; vertical-align: top; border-color: gray;">
                            <p>No</p>
                        </td>
                        <td style="text-align: left; vertical-align: top; border-color: gray;">
                            <p>We delete your email address automatically after 95 days.</p>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row" style="text-align: left; vertical-align: top; border-color: gray;">
                            <p>Contact information</p>
                        </th>
                        <td style="text-align: left; vertical-align: top; border-color: gray;">
                            <p>First and last name, email address, message&nbsp;</p>
                        </td>
                        <td style="text-align: left; vertical-align: top; border-color: gray;">
                            <p>Customer service&nbsp;</p>

                            <p>You can direct your questions to us in the contact section, via email or telephone. With the help of the data you provide, we can contact you and resolve your concerns.</p>
                        </td>
                        <td style="text-align: left; vertical-align: top; border-color: gray;">
                            <p>Article 6 (1a, b) GDPR</p>
                        </td>
                        <td style="text-align: left; vertical-align: top; border-color: gray;">
                            <p>No</p>

                            <p>It is not possible to answer your questions without the processing of your data.</p>
                        </td>
                        <td style="text-align: left; vertical-align: top; border-color: gray;">
                            <p>Yes¹</p>
                        </td>
                        <td style="text-align: left; vertical-align: top; border-color: gray;">
                            <p>Until you delete your customer account, 2 years after the last contact, or as soon as we are requested to delete the data.</p>
                        </td>
                    </tr>
                    <tr>
                        <th rowspan="1" scope="row" style="text-align: left; vertical-align: top; border-color: gray;">
                            <p>Community services</p>
                        </th>
                        <td style="text-align: left; vertical-align: top; border-color: gray;">
                            <p>Email address, username, comments</p>
                        </td>
                        <td style="text-align: left; vertical-align: top; border-color: gray;">
                            <p>zooblog!</p>

                            <p>We process your personal data, in order to publish your comments on the blog after they are reviewed. Your email address will not be published.</p>
                        </td>
                        <td style="text-align: left; vertical-align: top; border-color: gray;">
                            <p>Article 6 (1a) GDPR</p>

                            <p>&nbsp;</p>
                        </td>
                        <td style="text-align: left; vertical-align: top; border-color: gray;">
                            <p>No</p>

                            <p>It is not possible to use the comment function of the blog without the processing of your data.</p>
                        </td>
                        <td style="text-align: left; vertical-align: top; border-color: gray;">
                            <p>No</p>

                            <p>&nbsp;</p>
                        </td>
                        <td style="text-align: left; vertical-align: top; border-color: gray;">
                            <p>As soon as we are requested to delete the data.</p>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row" style="text-align: left; vertical-align: top; border-color: gray;">
                            <p>Advertising partners</p>
                        </th>
                        <td style="text-align: left; vertical-align: top; border-color: gray;">
                            <p>Email address, title, first and last name, billing address, payment information, login data&nbsp;</p>
                        </td>
                        <td style="text-align: left; vertical-align: top; border-color: gray;">
                            <p>Affiliate</p>

                            <p>As a zooplus advertising partner, you have the opportunity to place zooplus advertisements on your website and earn commissions. We process your data to provide you with a partner account to contact you and pay your commissions.</p>
                        </td>
                        <td style="text-align: left; vertical-align: top; border-color: gray;">
                            <p>Article 6 (1a, b) GDPR</p>

                            <p>&nbsp;</p>
                        </td>
                        <td style="text-align: left; vertical-align: top; border-color: gray;">
                            <p>Yes.</p>

                            <p>You cannot become an advertising partner without the processing of your data.</p>
                        </td>
                        <td style="text-align: left; vertical-align: top; border-color: gray;">
                            <p>No</p>

                            <p>&nbsp;</p>
                        </td>
                        <td style="text-align: left; vertical-align: top; border-color: gray;">
                            <p>Data is deleted/stored in accordance with commercial and tax requirements, during the existence of the partner account and contractual relationship, or until we are requested to delete the data.</p>

                            <p>&nbsp;</p>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row" style="text-align: left; vertical-align: top; border-color: gray;">
                            <p>Application portal</p>
                        </th>
                        <td style="text-align: left; vertical-align: top; border-color: gray;">
                            <p>Title, first and last name, phone number, email address, application documents&nbsp;</p>
                        </td>
                        <td style="text-align: left; vertical-align: top; border-color: gray;">
                            <p>Job applications</p>

                            <p>Applicants can submit their applications to zooplus online using our application portal. The data collected is used exclusively to contact applicants and assess their professional skills.</p>
                        </td>
                        <td style="text-align: left; vertical-align: top; border-color: gray;">
                            <p>
                                Section 26 of the BDSG<br>
                                Article 6 (1a) GDPR
                            </p>
                        </td>
                        <td style="text-align: left; vertical-align: top; border-color: gray;">
                            <p>Yes</p>

                            <p>It is not possible to review your application without the processing of your data.</p>
                        </td>
                        <td style="text-align: left; vertical-align: top; border-color: gray;">
                            <p>No</p>
                        </td>
                        <td style="text-align: left; vertical-align: top; border-color: gray;">
                            <p>Six months after the date of objection or as soon as we are requested to delete the data, provided you have given us your consent for longer storage.</p>
                        </td>
                    </tr>
                </thead>
            </table>

            <p>¹ You can find the details in the&nbsp;<a href="//www.zooplus.ie/content/opt-out">Information on the Right to Object to the Processing of Data</a> and our&nbsp;<a href="//www.zooplus.ie/content/privacy_long">Privacy Statement</a>.</p>

            <h2>What data do we share?</h2>

            <table align="left" border="1" bordercolor="#ccc" cellpadding="5" cellspacing="0" style="border-collapse:collapse;">
                <thead>
                    <tr>
                        <th scope="row" style="text-align: left; vertical-align: top; border-color: gray; background-color: rgb(211, 211, 211);">
                            <p>Which area is affected?</p>
                        </th>
                        <th scope="col" style="text-align: left; vertical-align: top; border-color: gray; background-color: rgb(211, 211, 211);">
                            <p>What information will be shared?&nbsp;</p>

                            <p>&nbsp;</p>
                        </th>
                        <th scope="col" style="text-align: left; vertical-align: top; border-color: gray; background-color: rgb(211, 211, 211);">
                            <p>Who receives data and what is the purpose of sharing the data?</p>

                            <p>&nbsp;</p>
                        </th>
                        <th scope="col" style="text-align: left; vertical-align: top; border-color: gray; background-color: rgb(211, 211, 211);">
                            <p>Do we share data in a third country?</p>

                            <p>&nbsp;</p>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row" style="text-align: left; vertical-align: top; border-color: gray;">
                            <p>Visits to our websites</p>
                        </th>
                        <td style="text-align: left; vertical-align: top; border-color: gray;">
                            <p>IP address, cookie identifier</p>

                            <p>&nbsp;</p>
                        </td>
                        <td style="text-align: left; vertical-align: top; border-color: gray;">
                            <p>Web analytics and advertising:&nbsp;Tracking and advertising tool providers process the data on our behalf for the purposes of user analysis and statistical processing as well as for the placement of interest-based advertising.</p>

                            <p>Provider details, the functionality of the various tracking tools as well as information on how to prevent the evaluation and analysis of your data can be found in the&nbsp;<a href="//www.zooplus.ie/content/privacy_long">Privacy Statement</a> and in the&nbsp;<a href="//www.zooplus.ie/content/opt-out">Information on the Right to Object to the Processing of Data</a>.</p>
                        </td>
                        <td style="text-align: left; vertical-align: top; border-color: gray;">
                            <p>Yes. Some of the providers have their headquarters outside the EU/EEA.²</p>
                        </td>
                    </tr>
                    <tr>
                        <th rowspan="2" scope="row" style="text-align: left; vertical-align: top; border-color: gray;">
                            <p>Webshop</p>
                        </th>
                        <td style="text-align: left; vertical-align: top; border-color: gray;">
                            <p>Email address, shipping address</p>
                        </td>
                        <td style="text-align: left; vertical-align: top; border-color: gray;">
                            <p>Delivery services: To enable our parcel service providers to give you a concrete timeframe for the delivery of your package and provide you with the option to change the delivery date of your parcel, we provide our commissioned service providers not only your delivery address but also your email address and your phone number, if stated.</p>
                        </td>
                        <td style="text-align: left; vertical-align: top; border-color: gray;">
                            <p>No</p>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row" style="text-align: left; vertical-align: top; border-color: gray;">
                            <p>Cookie identifier, customer number, order number (for registered customers)</p>
                        </th>
                        <td style="text-align: left; vertical-align: top; border-color: gray;">
                            <p>Product recommendations: For searches in our webshop, we have commissioned a website personalization service provider, who uses your data to make a product selection tailored to your needs. This is how we are able to show you products that might be of interest to you.</p>
                        </td>
                        <td style="text-align: left; vertical-align: top; border-color: gray;">
                            <p>Yes²</p>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row" style="text-align: left; vertical-align: top; border-color: gray;">
                            <p>Newsletter</p>
                        </th>
                        <td style="text-align: left; vertical-align: top; border-color: gray;">
                            <p>Email address, title, first and last name, order history</p>
                        </td>
                        <td style="text-align: left; vertical-align: top; border-color: gray;">
                            <p>News:&nbsp;The newsletter is processed via the email marketing service provider that we have commissioned for the creation and distribution of newsletters.</p>
                        </td>
                        <td style="text-align: left; vertical-align: top; border-color: gray;">
                            <p>No</p>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row" style="text-align: left; vertical-align: top; border-color: gray;">
                            <p>Contact information</p>
                        </th>
                        <td style="text-align: left; vertical-align: top; border-color: gray;">
                            <p>First and last name, email address, message</p>
                        </td>
                        <td style="text-align: left; vertical-align: top; border-color: gray;">
                            <p>Customer service:&nbsp;Your requests are processed by customer service agencies on behalf of zooplus.</p>
                        </td>
                        <td style="text-align: left; vertical-align: top; border-color: gray;">
                            <p>Yes²</p>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row" style="text-align: left; vertical-align: top; border-color: gray;">
                            <p>Community services</p>
                        </th>
                        <td style="text-align: left; vertical-align: top; border-color: gray;">
                            <p>Email address, username, comments</p>
                        </td>
                        <td style="text-align: left; vertical-align: top; border-color: gray;">
                            <p>zooblog!:&nbsp;We have set up a so-called managed service for our blog, which means we have commissioned an IT provider to take care of this app on our behalf. This service includes hosting, maintenance, servicing, backup and support.</p>
                        </td>
                        <td style="text-align: left; vertical-align: top; border-color: gray;">
                            <p>No</p>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row" style="text-align: left; vertical-align: top; border-color: gray;">
                            <p>Advertising partners</p>
                        </th>
                        <td style="text-align: left; vertical-align: top; border-color: gray;">
                            <p>Email address, title, first and last name, billing address, payment information, login data</p>
                        </td>
                        <td style="text-align: left; vertical-align: top; border-color: gray;">
                            <p>Affiliate:&nbsp;We have also commissioned an IT provider for our advertising partners to maintain this app on our behalf.</p>
                        </td>
                        <td style="text-align: left; vertical-align: top; border-color: gray;">
                            <p>No</p>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row" style="text-align: left; vertical-align: top; border-color: gray;">
                            <p>Application portal</p>
                        </th>
                        <td style="text-align: left; vertical-align: top; border-color: gray;">
                            <p>Title, first and last name, phone number, email address, application documents</p>
                        </td>
                        <td style="text-align: left; vertical-align: top; border-color: gray;">
                            <p>Applications:&nbsp;For our job portal, we use personnel management software to help us with the management of applications and job searches.</p>
                        </td>
                        <td style="text-align: left; vertical-align: top; border-color: gray;">
                            <p>No</p>
                        </td>
                    </tr>
                </tbody>
            </table>

            <p>² The details for all service providers can be found in our <a href="//www.zooplus.ie/content/privacy_long">Privacy Statement</a>.</p>

            <h2>What are your rights in connection with the processing of this data?</h2>

            <p>You have the right at any time to request a confirmation from zooplus about whether we are processing your personal data and the right to information about this personal data. You also have the right to rectification, erasure and restriction of data processing, as well as the right at any time to object to the processing of personal data or to revoke your consent for the processing of data or to request the transfer of data. For any information needs or requests, revocations or objections to the processing of data, please send an email to our Data Protection Officer or to the contact details above. In addition, you have the right to complain to a supervisory authority when violations of privacy occur.</p>

        </section>
        <script>
            var downloadShortLink = function (shortlink) {
                var req = new XMLHttpRequest();
                req.open("GET", "/content/" + shortlink, true);
                req.responseType = "blob";
                req.setRequestHeader("Accept", "application/pdf");

                req.onload = function () {
                    var blob = req.response;
                    var link = document.createElement('a');
                    document.body.appendChild(link);
                    var filename = 'document';
                    var disposition = req.getResponseHeader('Content-Disposition');
                    if (disposition && disposition.indexOf('attachment') !== -1) {
                        var filenameRegex = /filename[^;=\n]*=((['"]).*?\2|[^;\n]*)/;
                        var matches = filenameRegex.exec(disposition);
                        if (matches !== null && matches[1]) {
                            filename = matches[1].replace(/['"]/g, '');
                        }
                    }
                    link.href = window.URL.createObjectURL(blob);
                    link.download = filename;
                    link.click();
                    document.body.removeChild(link);
                };

                req.send();
            };
        </script>

    </section>
</main>



<p>Use this page to detail your site's privacy policy.</p>
