
@{
    ViewData["Title"] = "SendMessage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h5>We have received your message. Thank you for your attention. We will get back to you soon.</h5>















</div>


